<h2>Search Artist</h2>

<form action="/artists-search", method="GET">
<input name="artist" type="text" id="exampleInputEmail1" aria-describedby="emailHelp">
<button type="submit" class="btn">Submit</button></form>